@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    color: #535353;
    background-color: #ffffff;
  }
}

@layer base {
  @font-face {
    font-family: "Apercu Pro";
    src:
      local("Apercu Pro Medium"),
      url("/fonts/apercu-pro/ApercuPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Apercu Pro";
    src:
      local("Apercu Pro ExtraLight"),
      url("/fonts/apercu-pro/ApercuPro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Apercu Pro";
    src:
      local("Apercu Pro Black"),
      url("/fonts/ApercuPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Apercu Pro";
    src:
      local("Apercu Pro Bold"),
      url("/fonts/ApercuPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Apercu Pro";
    src:
      local("Apercu Pro Thin"),
      url("/fonts/ApercuPro-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Apercu Pro";
    src:
      local("Apercu Pro Regular"),
      url("/fonts/ApercuPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Apercu Pro";
    src:
      local("Apercu Pro Light"),
      url("/fonts/ApercuPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
}